.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 600px){
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}