.recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.recent .recent-title{
    margin: 20px 0px 5px 10px;
    font-size: 14px;
}

.recent .recent-entry{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 50px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    font-size: 13px;
}

.recent .recent-entry img{
    width: 18px;
}

.recent .recent-entry:hover{
    background-color: #e2e6eb; 
}