.bottom{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.bottom-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 6px 6px 10px;
    border-radius: 50px;
}

.bottom-item:hover{
    background-color: #e2e6eb; 
    cursor: pointer;
}